---

import MainLayout from '../../layouts/MainLayout.astro'

const {title, img} = Astro.props

---

<MainLayout>
    <h1>{title}</h1>

    <!-- Back button -->


    <!-- Main info -->

    <article>
        <img src={img}></img>
        <div>
            <h1></h1>
            <h4></h4>
            <h4></h4>
            <p></p>
        </div>
    </article>
</MainLayout>

<style>
    
</style>