---

import FilterAccordion from '../installations/filter/FilterAccordion.astro'

---

<aside>
    <h1>Filters</h1>
    <ul>
        <li><FilterAccordion title="Location" options={["Nørrebro", "Østerbro", "Vesterbro", "Sydhavn", "Ørestad"]}/></li>
        <li><FilterAccordion title="Year" options={["Upcoming", "Current", "Archive"]} /></li>
    </ul>   
    
</aside>

<style>
    aside {
        grid-column: 1 / 4;
        padding: var(--spacing-m) 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-m)
    }

    h1 {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.5rem;
        }
    ul {
        display: flex;
        gap: var(--spacing-m);
    }

    @media (min-width: 900px) {
        
        h1 {
        font-size: 2rem;
        line-height: 2rem;
    }

        ul {
            flex-direction: column;
        }
    }
</style>