---

const {title, type} = Astro.props

---

<section>
<article class="heading">
    <h4>{title}</h4>
    <img src="/img/arrow.svg" alt="">
</article>
{type=="Location" && <ul class="location">
    <li>Nørrebro</li>
    <li>Østerbro</li>
    <li>Vesterbro</li>
    <li>Sydhavn</li>
    <li>Ørestad</li>
    <li class="reset">Clear</li>
</ul>}
{type=="Year" && <ul class="year">
    <li>Upcoming</li>
    <li>Current</li>
    <li>Archive</li>
    <li class="reset">Clear</li>
</ul>}
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
        padding: var(--spacing-xxs) 0;
    }
    .heading {
        display: flex;
        width: 212px;
        justify-content: space-between;
        border-bottom: 1px solid var(--stroke-light);
        cursor: pointer;
    }

    img {
        width: var(--spacing-xs);
        transform: rotate(90deg);
    }

    ul {
        width: 164px;
        padding-left: var(--spacing-s);
    }

    li {
        padding: var(--spacing-xs) 0;
        cursor: pointer;
    }

    li.reset {
        text-align: right;
        font-weight: 700;
        text-transform: uppercase;
    }

    .active {
        display: block;
    }
</style>

<script>
    const filterToggle = document.querySelector(".heading");

    filterToggle.addEventListener("click", (evt) => {
        // document.querySelector("ul").addEventListener("click", () => {
        //     console.log("click2")
        // });
        // document.querySelector("ul").classList.toggle("active");
    })
</script>