---

const {title, options} = Astro.props

---

<section>
<div class="heading">
    <h4>{title}</h4>
    <img src="/img/arrow.svg" alt="">
</div>
<ul>
    {options.map(element=>{
        return <li class="option">{element}</li>
    })}  
    <li class="reset">Clear</li>
</ul>
</section>

<style>
    section {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
        padding: var(--spacing-xxs) 0;
    }
    .heading {
        display: flex;
        width: 212px;
        justify-content: space-between;
        border-bottom: 1px solid var(--stroke-light);
        cursor: pointer;
    }

    img {
        width: var(--spacing-xs);
        transition: .15s ease-in;
    }

    .heading.active img {
        transform: rotate(90deg);
    }

    ul {
        display: none;
        width: 192px;
        padding-left: var(--spacing-s);
    }

    li {
        padding: var(--spacing-xs) 0;
        cursor: pointer;
        border-bottom: 4px solid transparent;
    }

    li.active {
        width: max-content;
        border-bottom: solid;
        border-width: 4px;
        border-image: var(--gradient-hot) 1;
    }

    li.reset {
        text-align: right;
        font-weight: 700;
        text-transform: uppercase;
    }

    @media (max-width: 899px) {
    section {
        width: 100%;
    }
    .heading {
        width: 164px;
    }
    }

</style>

<script>
    const acc = document.getElementsByClassName("heading");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;

            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    } 

    const option = document.querySelectorAll("li.option");
    const clear = document.querySelectorAll("li.reset");

    for (i = 0; i < option.length; i++) {
        option[i].addEventListener("click", function() {
            this.classList.toggle("active");
        })
    }

    for (i = 0; i < clear.length; i++) {
        clear[i].addEventListener("click", function() {
            var options = this.parentNode.childNodes;
            for (i = 1; i < options.length; i++) {
                if (options[i].classList.contains("active")) {
                options[i].classList.remove("active");
                }}
            })}
</script>