---

---
<div id="footer">
<div id="contact">
    <h3>Contact</h3>
    <ul>
        <li>© COPENHAGEN LIGHT FESTIVAL</li>
        <li>info@copenhagenlightfestival.org</li>
        <li>Tlf. +45 25 55 66 04</li>
    </ul>
    <div class="icons mobile"> 
        <a href="https://www.instagram.com/cphlightfest/"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.6448 0C19.4447 0.00479989 20.3583 0.0143997 21.147 0.0367991L21.4574 0.0479988C21.8158 0.0607985 22.1694 0.0767981 22.5966 0.0959977C24.2989 0.175996 25.4604 0.44479 26.4796 0.839981C27.5355 1.24637 28.4251 1.79676 29.3146 2.68474C30.1282 3.48455 30.7577 4.45204 31.1593 5.51987C31.5545 6.53905 31.8233 7.70062 31.9033 9.40458C31.9225 9.83017 31.9385 10.1838 31.9513 10.5438L31.9609 10.8541C31.9849 11.6413 31.9945 12.5549 31.9977 14.3549L31.9993 15.5484V17.6444C32.0032 18.8114 31.9909 19.9784 31.9625 21.1451L31.9529 21.4555C31.9401 21.8155 31.9241 22.1691 31.9049 22.5947C31.8249 24.2986 31.5529 25.4586 31.1593 26.4794C30.7588 27.5478 30.1292 28.5155 29.3146 29.3145C28.5146 30.1278 27.5472 30.7573 26.4796 31.1593C25.4604 31.5545 24.2989 31.8233 22.5966 31.9033C22.2169 31.9211 21.8372 31.9371 21.4574 31.9513L21.147 31.9609C20.3583 31.9833 19.4447 31.9945 17.6448 31.9977L16.4513 31.9993H14.357C13.1895 32.0033 12.0219 31.991 10.8548 31.9625L10.5444 31.9529C10.1646 31.9385 9.78486 31.9219 9.40524 31.9033C7.70293 31.8233 6.54139 31.5545 5.52064 31.1593C4.45297 30.7583 3.48589 30.1287 2.68719 29.3145C1.8729 28.515 1.24282 27.5475 0.84088 26.4794C0.4457 25.4602 0.176914 24.2986 0.0969181 22.5947C0.0790932 22.215 0.0630938 21.8353 0.0489207 21.4555L0.0409213 21.1451C0.011438 19.9784 -0.00189604 18.8114 0.000923154 17.6444V14.3549C-0.00354216 13.1879 0.00819182 12.0208 0.0361215 10.8541L0.0473208 10.5438C0.0601202 10.1838 0.0761193 9.83017 0.0953183 9.40458C0.175314 7.70062 0.4441 6.54065 0.83928 5.51987C1.24104 4.45094 1.87238 3.48316 2.68879 2.68474C3.48729 1.87111 4.45372 1.24155 5.52064 0.839981C6.54139 0.44479 7.70133 0.175996 9.40524 0.0959977C9.83082 0.0767981 10.186 0.0607985 10.5444 0.0479988L10.8548 0.038399C12.0214 0.0099721 13.1884 -0.00229546 14.3554 0.00159985L17.6448 0ZM16.0001 7.99981C13.8785 7.99981 11.8438 8.84265 10.3435 10.3429C8.84332 11.8432 8.00051 13.8779 8.00051 15.9996C8.00051 18.1213 8.84332 20.1561 10.3435 21.6563C11.8438 23.1566 13.8785 23.9994 16.0001 23.9994C18.1217 23.9994 20.1565 23.1566 21.6567 21.6563C23.1569 20.1561 23.9997 18.1213 23.9997 15.9996C23.9997 13.8779 23.1569 11.8432 21.6567 10.3429C20.1565 8.84265 18.1217 7.99981 16.0001 7.99981ZM16.0001 11.1997C16.6304 11.1996 17.2546 11.3237 17.837 11.5648C18.4193 11.8059 18.9485 12.1594 19.3943 12.605C19.84 13.0507 20.1937 13.5797 20.435 14.1621C20.6763 14.7444 20.8006 15.3685 20.8007 15.9988C20.8008 16.6292 20.6767 17.2533 20.4356 17.8357C20.1945 18.4181 19.841 18.9473 19.3954 19.3931C18.9498 19.8389 18.4207 20.1925 17.8384 20.4338C17.2561 20.6752 16.632 20.7994 16.0017 20.7995C14.7287 20.7995 13.5079 20.2938 12.6078 19.3937C11.7076 18.4935 11.202 17.2726 11.202 15.9996C11.202 14.7266 11.7076 13.5057 12.6078 12.6056C13.5079 11.7054 14.7287 11.1997 16.0017 11.1997M24.4013 5.59987C23.8709 5.59987 23.3622 5.81058 22.9871 6.18564C22.6121 6.56071 22.4014 7.0694 22.4014 7.59982C22.4014 8.13024 22.6121 8.63894 22.9871 9.014C23.3622 9.38907 23.8709 9.59978 24.4013 9.59978C24.9317 9.59978 25.4404 9.38907 25.8154 9.014C26.1905 8.63894 26.4012 8.13024 26.4012 7.59982C26.4012 7.0694 26.1905 6.56071 25.8154 6.18564C25.4404 5.81058 24.9317 5.59987 24.4013 5.59987Z" fill="#FDFCFD"/>
            </svg></a>
        <a href="https://www.facebook.com/cphlightfest/"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M32 16.0401C32 7.18596 24.832 0 16 0C7.168 0 0 7.18596 0 16.0401C0 23.8035 5.504 30.2677 12.8 31.7594V20.8521H9.6V16.0401H12.8V12.0301C12.8 8.93434 15.312 6.41604 18.4 6.41604H22.4V11.2281H19.2C18.32 11.2281 17.6 11.9499 17.6 12.8321V16.0401H22.4V20.8521H17.6V32C25.68 31.198 32 24.3649 32 16.0401Z" fill="#FDFCFD"/>
            </svg></a>
        <a href="https://www.linkedin.com/company/copenhagen-light-festival/?originalSubdomain=dk"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M28.4444 0C29.3874 0 30.2918 0.374602 30.9586 1.0414C31.6254 1.70819 32 2.61256 32 3.55556V28.4444C32 29.3874 31.6254 30.2918 30.9586 30.9586C30.2918 31.6254 29.3874 32 28.4444 32H3.55556C2.61256 32 1.70819 31.6254 1.0414 30.9586C0.374602 30.2918 0 29.3874 0 28.4444V3.55556C0 2.61256 0.374602 1.70819 1.0414 1.0414C1.70819 0.374602 2.61256 0 3.55556 0H28.4444ZM27.5556 27.5556V18.1333C27.5556 16.5963 26.945 15.1221 25.8581 14.0353C24.7712 12.9484 23.2971 12.3378 21.76 12.3378C20.2489 12.3378 18.4889 13.2622 17.6356 14.6489V12.6756H12.6756V27.5556H17.6356V18.7911C17.6356 17.4222 18.7378 16.3022 20.1067 16.3022C20.7668 16.3022 21.3998 16.5644 21.8666 17.0312C22.3333 17.498 22.5956 18.131 22.5956 18.7911V27.5556H27.5556ZM6.89778 9.88445C7.68989 9.88445 8.44956 9.56978 9.00967 9.00967C9.56978 8.44956 9.88445 7.68989 9.88445 6.89778C9.88445 5.24444 8.55111 3.89333 6.89778 3.89333C6.10095 3.89333 5.33676 4.20987 4.77331 4.77331C4.20987 5.33676 3.89333 6.10095 3.89333 6.89778C3.89333 8.55111 5.24444 9.88445 6.89778 9.88445ZM9.36889 27.5556V12.6756H4.44444V27.5556H9.36889Z" fill="#FDFCFD"/>
            </svg></a>
    </div>
</div>
<div id="information">
    <h3>Information</h3>
    <ul>
        <li><a href="#">Fotokonkurrence</a></li>
        <li><a href="#">Presse & Medier</a></li>
        <li><a href="#">GDPR & Persondata</a></li>
        <li><a href="#">FOR KUNSTNERE</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">TIDLIGERE FESTIVALER</a></li>
    </ul>
</div>
<div id="socials" class="desktop">
    <h3>Socials</h3>
    <div class="icons">
        <a href="https://www.instagram.com/cphlightfest/"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17.6448 0C19.4447 0.00479989 20.3583 0.0143997 21.147 0.0367991L21.4574 0.0479988C21.8158 0.0607985 22.1694 0.0767981 22.5966 0.0959977C24.2989 0.175996 25.4604 0.44479 26.4796 0.839981C27.5355 1.24637 28.4251 1.79676 29.3146 2.68474C30.1282 3.48455 30.7577 4.45204 31.1593 5.51987C31.5545 6.53905 31.8233 7.70062 31.9033 9.40458C31.9225 9.83017 31.9385 10.1838 31.9513 10.5438L31.9609 10.8541C31.9849 11.6413 31.9945 12.5549 31.9977 14.3549L31.9993 15.5484V17.6444C32.0032 18.8114 31.9909 19.9784 31.9625 21.1451L31.9529 21.4555C31.9401 21.8155 31.9241 22.1691 31.9049 22.5947C31.8249 24.2986 31.5529 25.4586 31.1593 26.4794C30.7588 27.5478 30.1292 28.5155 29.3146 29.3145C28.5146 30.1278 27.5472 30.7573 26.4796 31.1593C25.4604 31.5545 24.2989 31.8233 22.5966 31.9033C22.2169 31.9211 21.8372 31.9371 21.4574 31.9513L21.147 31.9609C20.3583 31.9833 19.4447 31.9945 17.6448 31.9977L16.4513 31.9993H14.357C13.1895 32.0033 12.0219 31.991 10.8548 31.9625L10.5444 31.9529C10.1646 31.9385 9.78486 31.9219 9.40524 31.9033C7.70293 31.8233 6.54139 31.5545 5.52064 31.1593C4.45297 30.7583 3.48589 30.1287 2.68719 29.3145C1.8729 28.515 1.24282 27.5475 0.84088 26.4794C0.4457 25.4602 0.176914 24.2986 0.0969181 22.5947C0.0790932 22.215 0.0630938 21.8353 0.0489207 21.4555L0.0409213 21.1451C0.011438 19.9784 -0.00189604 18.8114 0.000923154 17.6444V14.3549C-0.00354216 13.1879 0.00819182 12.0208 0.0361215 10.8541L0.0473208 10.5438C0.0601202 10.1838 0.0761193 9.83017 0.0953183 9.40458C0.175314 7.70062 0.4441 6.54065 0.83928 5.51987C1.24104 4.45094 1.87238 3.48316 2.68879 2.68474C3.48729 1.87111 4.45372 1.24155 5.52064 0.839981C6.54139 0.44479 7.70133 0.175996 9.40524 0.0959977C9.83082 0.0767981 10.186 0.0607985 10.5444 0.0479988L10.8548 0.038399C12.0214 0.0099721 13.1884 -0.00229546 14.3554 0.00159985L17.6448 0ZM16.0001 7.99981C13.8785 7.99981 11.8438 8.84265 10.3435 10.3429C8.84332 11.8432 8.00051 13.8779 8.00051 15.9996C8.00051 18.1213 8.84332 20.1561 10.3435 21.6563C11.8438 23.1566 13.8785 23.9994 16.0001 23.9994C18.1217 23.9994 20.1565 23.1566 21.6567 21.6563C23.1569 20.1561 23.9997 18.1213 23.9997 15.9996C23.9997 13.8779 23.1569 11.8432 21.6567 10.3429C20.1565 8.84265 18.1217 7.99981 16.0001 7.99981ZM16.0001 11.1997C16.6304 11.1996 17.2546 11.3237 17.837 11.5648C18.4193 11.8059 18.9485 12.1594 19.3943 12.605C19.84 13.0507 20.1937 13.5797 20.435 14.1621C20.6763 14.7444 20.8006 15.3685 20.8007 15.9988C20.8008 16.6292 20.6767 17.2533 20.4356 17.8357C20.1945 18.4181 19.841 18.9473 19.3954 19.3931C18.9498 19.8389 18.4207 20.1925 17.8384 20.4338C17.2561 20.6752 16.632 20.7994 16.0017 20.7995C14.7287 20.7995 13.5079 20.2938 12.6078 19.3937C11.7076 18.4935 11.202 17.2726 11.202 15.9996C11.202 14.7266 11.7076 13.5057 12.6078 12.6056C13.5079 11.7054 14.7287 11.1997 16.0017 11.1997M24.4013 5.59987C23.8709 5.59987 23.3622 5.81058 22.9871 6.18564C22.6121 6.56071 22.4014 7.0694 22.4014 7.59982C22.4014 8.13024 22.6121 8.63894 22.9871 9.014C23.3622 9.38907 23.8709 9.59978 24.4013 9.59978C24.9317 9.59978 25.4404 9.38907 25.8154 9.014C26.1905 8.63894 26.4012 8.13024 26.4012 7.59982C26.4012 7.0694 26.1905 6.56071 25.8154 6.18564C25.4404 5.81058 24.9317 5.59987 24.4013 5.59987Z" fill="#FDFCFD"/>
            </svg></a>
        <a href="https://www.facebook.com/cphlightfest/"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M32 16.0401C32 7.18596 24.832 0 16 0C7.168 0 0 7.18596 0 16.0401C0 23.8035 5.504 30.2677 12.8 31.7594V20.8521H9.6V16.0401H12.8V12.0301C12.8 8.93434 15.312 6.41604 18.4 6.41604H22.4V11.2281H19.2C18.32 11.2281 17.6 11.9499 17.6 12.8321V16.0401H22.4V20.8521H17.6V32C25.68 31.198 32 24.3649 32 16.0401Z" fill="#FDFCFD"/>
            </svg></a>
        <a href="https://www.linkedin.com/company/copenhagen-light-festival/?originalSubdomain=dk"><svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M28.4444 0C29.3874 0 30.2918 0.374602 30.9586 1.0414C31.6254 1.70819 32 2.61256 32 3.55556V28.4444C32 29.3874 31.6254 30.2918 30.9586 30.9586C30.2918 31.6254 29.3874 32 28.4444 32H3.55556C2.61256 32 1.70819 31.6254 1.0414 30.9586C0.374602 30.2918 0 29.3874 0 28.4444V3.55556C0 2.61256 0.374602 1.70819 1.0414 1.0414C1.70819 0.374602 2.61256 0 3.55556 0H28.4444ZM27.5556 27.5556V18.1333C27.5556 16.5963 26.945 15.1221 25.8581 14.0353C24.7712 12.9484 23.2971 12.3378 21.76 12.3378C20.2489 12.3378 18.4889 13.2622 17.6356 14.6489V12.6756H12.6756V27.5556H17.6356V18.7911C17.6356 17.4222 18.7378 16.3022 20.1067 16.3022C20.7668 16.3022 21.3998 16.5644 21.8666 17.0312C22.3333 17.498 22.5956 18.131 22.5956 18.7911V27.5556H27.5556ZM6.89778 9.88445C7.68989 9.88445 8.44956 9.56978 9.00967 9.00967C9.56978 8.44956 9.88445 7.68989 9.88445 6.89778C9.88445 5.24444 8.55111 3.89333 6.89778 3.89333C6.10095 3.89333 5.33676 4.20987 4.77331 4.77331C4.20987 5.33676 3.89333 6.10095 3.89333 6.89778C3.89333 8.55111 5.24444 9.88445 6.89778 9.88445ZM9.36889 27.5556V12.6756H4.44444V27.5556H9.36889Z" fill="#FDFCFD"/>
            </svg></a>
</div>
</div>
</div>

<style>

svg path {
    transition: fill .15s ease-in;
}

a:hover svg path{
    fill: var(--purple-200);
}

h3 {
    font-size: 24px;
    text-transform: uppercase;
}
li {
    padding: 4px 0;
    transition: .15s ease-in;
}

#information li {
    cursor: pointer;
    text-transform: uppercase;
}
#information li:hover {
color: var(--purple-200);
}


#footer div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#information ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 48px;
}

#socials .icons, #contact .icons {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

@media (min-width: 900px) {
    .mobile {
        display: none !important;
    }
    li {
    font-size: 16px;
}
#information {
    border-left: solid 1px var(--stroke-light);
    border-right: solid 1px var(--stroke-light);
    padding: 0 80px;
}
#footer {
    max-width: 1120px;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 32px 0;
    justify-content: space-between;
}

}
@media (max-width: 899px) {
    .desktop {
        background-color: red;
        display: none !important;
    }
    #footer {
    display: flex;
    flex-direction: column;
    padding: 24px 32px;
}
#contact, #information {
    padding: 24px 0;
}
#contact .icons {
gap: 24px;
}

#information {
    border-top: solid 1px var(--stroke-light);
}
li {
    font-size: 14px;
}
svg { 
    width: 24px;
}
}

</style>