---

---

<nav>
    <a href="/">
        <div class="logo"></div>
    </a>
    <ul>
        <li><a href="/installations">Plan Your Visit <img src="/img/arrow.svg" alt=""></a></li>
        <li><a href="#">Work With Us <img src="/img/arrow.svg" alt=""></a></li>
        <li><a href="#">About</a></li>
        <li><span class="lang EN active">EN</span> / <span class="lang DA">DA</span></li>
    </ul>
</nav>

<style>

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-l);
}

nav .logo {
    background-image: url("https://copenhagenlightfestival.org/wp-content/uploads/2023/01/Stacked-Logo-for-frontpage.png");
    background-size: 100%;
    aspect-ratio: 1000 / 550;
    width: 100px;
}

nav ul {
    display: flex;
    gap: var(--spacing-xxl)
}

li {
    list-style: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;
}

a {
    display: flex;
    gap: var(--spacing-s);  
}

a img {
    width: var(--spacing-xs);
    transform: rotate(90deg);
}

span {
    cursor: pointer;
}

span.active {
    border-bottom: 4px solid;
    border-image: var(--gradient-hot) 1;
}


</style>

<script>
    const language = document.querySelectorAll(".lang");

    language.forEach((element) => {
        element.addEventListener("click", () => {
            document.querySelector(".DA").classList.remove("active");
            document.querySelector(".EN").classList.remove("active");

            element.classList.add("active");
        });
    })
    
  </script>