---

import MainLayout from '../layouts/MainLayout.astro'

import Banner from '../components/Banner.astro'
import Button from '../components/Button.astro'
import Countdown from '../components/Countdown.astro'
import Hero from '../components/Hero.astro'

---

<MainLayout>
	<Countdown/>
			<!-- LANDING PAGE COMPONENT SUGGESTIONS:
			- hero, with image, headlines, and countdown
			-->
	
	<div class="mobile button"><Button variant="map" label="Show map"/></div>	
	<Banner />
</MainLayout>

<style>
 .button {
	grid-column: 2/4;
 }
</style>