---

import MainLayout from '../layouts/MainLayout.astro'

import Banner from '../components/Banner.astro'
import Button from '../components/Button.astro'

---

<MainLayout>
	<h1>CPH</h1>
			<!-- LANDING PAGE COMPONENT SUGGESTIONS:
			- hero, with image, headlines, and countdown
			-->
	<Banner />
</MainLayout>
