---

const { title } = Astro.props

---

<a href="#">
    <div class="link visitors">
        <div class="text_section">
            <h1 class="tagline">
                {title}
            </h1>
            <img src="img/arrow.svg" alt="arrow" class="arrow">
        </div>            
    </div>
</a>

<style>
    a {
    display: contents;
    }

    .text_section {
        position: absolute;
        left: 16px;
        bottom: 24px;
        display: flex;
        align-items: center;
        gap: 8px;
        max-width: 208px;
    }

    h1.tagline {
        font-size: 2rem;
        font-weight: 500;        
    }

    .link {
        position: relative;
        background-size: 100%;
        background-repeat: no-repeat;
        aspect-ratio: 3500 / 2333;
        /* for middle card */
        border-left: 1px #9d92b4 solid;
        border-right: 1px #9d92b4 solid;
        
    }

    .link::before {
        content: '';
        width: 20px;
        background: #00c000;
        display: block;
        position: absolute;
        top: 1px;
        left: 1px;
    }

    .link, .link::before {
        -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    }

    .arrow {
        width: 16px;
    }

    .visitors {
        background-image: url("img/04_bron.jpg"), linear-gradient(rgba(37, 16, 83, .25), rgba(37, 16, 83, .25));
    }

    .sponsors {
        background-image: url("img/76_tetra.jpg");
    }

    .artists {
        background-image: url("img/03_pixlearth.jpg");
        
    }
</style>