---

const {button} = Astro.props;

---

<a class="button" href="#">{button}HEJ</a>



<style>
.button {
    background-image: var(--gradient-hot);
    border-radius: 4px;
    box-shadow: 4px 4px 1px var( --cerulean);
    color: var(--text-primary);
    cursor: pointer;
    display: block;
    padding: 8px 72px;
    text-decoration: none;
    text-transform: uppercase;
}
</style>