---

const {variant, label} = Astro.props;

---

<a class={variant} href="#">{label}</a>



<style>
a {
    /* BOX */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;       
    cursor: pointer;
    padding: var(--spacing-s) 72px;    
    transition: .15s ease-in;
    
    /* LABEL */
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-primary);
    font-weight: 700;
    font-size: 1rem;
}

a:hover {
    scale: 1.02;
}

.default {
    background-image: var(--gradient-hot);
    box-shadow: 4px 4px 1px var( --cerulean); 
}

.ghost {
    box-shadow: 4px 4px 1px var( --flamingo);
    border-style: solid;
    border-width: 4px;
    border-image: var(--gradient-cool) 1;
    position: relative;
}

.map {
    background-image: var(--gradient-hot);
}

@media (max-width: 899px) {
    a {
    /* BOX */
    display: inline-block;
    text-align: center;
    margin: auto;
    
}
.map {
   margin: auto;
}
}
</style>