---

import { Image } from 'astro:assets'

---

<h1>COPENHAGEN LIGHT FESTIVAL</h1>
<h2 class="festival_date">2/2 - 25/2 2024</h2>
<p>where the city lights up with beautiful art installations, creating a magical experience for everyone.</p>
<!-- Husk at bruge <Image /> i stedet for img når du indsætter hero billedet -->

<style>

.festival_date {
background-image: var(--gradient-hot);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
}

</style>