---

---

<div class="image_design">
  <img src="xxx" alt="xxx" />
</div>

<style>
  img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    stroke: #706091;
    stroke-width: 1px;
  }
</style>
