---

---

<nav>
    <a href="index.astro">
        <div class="logo"></div>
    </a>
    <ul>
        <li><a href="#">Plan Your Visit</a></li>
        <li><a href="#">Work With Us</a></li>
        <li><a href="#">About</a></li>
        <li>EN / DA</li>
    </ul>
</nav>

<style>

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

nav .logo {
    background-image: url("img/Stacked-Logo-for-frontpage.png");
    background-size: 100%;
    aspect-ratio: 1000 / 550;
    width: 100px;
}

nav ul {
    width: 572px;
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}



</style>