---
const {img} = Astro.props; 
---

<!-- Back button -->


<!-- Main info -->

<article>
<img src={img}></img>
<div>
    <h1></h1>
    <h4></h4>
    <h4></h4>
    <p></p>
</div>
</article>

<style></style>