@import url(reset.css);
@import url(variables.css);

body {
  background-image: var(--gradient-bg);
  font-family: "karla", sans-serif;
  color: var(--text-primary);
}

main {
  max-width: 1120px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--spacing-l);
  padding: 32px 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

a:hover {
  color: var(--text-secondary);
}
