@import url(reset.css);
@import url(variables.css);

body {
  background-image: var(--gradient-bg);
  font-family: "karla", sans-serif;
  color: var(--text-primary);
}

main {
  max-width: 1120px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--spacing-l);
  padding: 32px 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

a:hover {
  color: var(--text-secondary);
}

/* TEXT STYLES - HEADINGS */

h1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.5rem;
}

h2 {
  font-family: "moon", sans-serif;
  font-weight: normal;
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 5%;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
}

h5 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.5rem;
}

/* TEXT STYLES - TAGLINES */

.tagline_lg,
.tagline_m,
.tagline_sm {
  font-family: "moon", sans-serif;
  font-weight: normal;
  letter-spacing: 5%;
}

.tagline_lg,
.tagline_m {
  text-transform: uppercase;
}

.tagline_lg {
  font-size: 3rem;
  line-height: 3.5rem;
}

.tagline_sm {
  font-size: 1rem;
  line-height: 1rem;
}

.tagline_m,
.tagline_bold {
  font-size: 2rem;
  line-height: 2rem;
}

.tagline_bold {
  font-weight: 500;
}

.tagline_xsm {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 0.75rem;
}
