@import url(reset.css);
@import url(variables.css);

body {
  background-image: var(--gradient-bg);
  font-family: "karla", sans-serif;
  color: var(--text-primary);
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  max-width: 1120px;
  margin: auto;
  padding: var(--spacing-l);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-primary);
  transition: 0.15s ease-in;
}

.desktop {
  display: none;
}

/* TEXT STYLES - HEADINGS */

h1.display,
h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 400;
}

h2 {
  font-family: "moon", sans-serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

/* TEXT STYLES - TAGLINES */

.tagline_lg,
.tagline_m,
.tagline_sm {
  font-family: "moon", sans-serif;
  font-weight: normal;
  letter-spacing: 0.05rem;
}

.tagline_lg,
.tagline_m {
  text-transform: uppercase;
}

.tagline_lg {
  font-size: 1.5rem;
  line-height: 2rem;
}

.tagline_sm,
.tagline_m,
.tagline_bold {
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.tagline_bold {
  font-weight: 500;
}

.tagline_xsm {
  font-size: 0.5rem;
  line-height: 0.5rem;
  font-weight: 300;
}

/* TEXT STYLES - PARAGRAPHS */

p {
  font-size: 0.875rem;
  line-height: 0.875rem;
  max-width: 70ch;
}

@media (min-width: 900px) {
  /* TEXT STYLES - HEADINGS */

  h1.display {
    font-size: 5rem;
    line-height: 5rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 4.5rem;
  }

  h2 {
    font-size: 4rem;
    line-height: 4rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h5 {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  /* TEXT STYLES - TAGLINES */

  .tagline_lg {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .tagline_sm {
    font-size: 1rem;
    line-height: 1rem;
  }

  .tagline_m,
  .tagline_bold {
    font-size: 2rem;
    line-height: 2rem;
  }

  .tagline_xsm {
    font-size: 0.75rem;
    line-height: 0.75rem;
  }

  /* TEXT STYLES - PARAGRAPHS */

  p {
    font-size: 1rem;
    line-height: 1rem;
  }
}

@media (min-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(56px, 1fr));
    gap: var(--spacing-l);
    padding: var(--spacing-l) 0;
  }
}
